.App {
  text-align: center;
}
.CalculatorBody {
  width: fit-content;
  height: auto;
  padding: 15px;
  margin: auto;
  border: 1px solid black;
}


.btnBox {
  width: 250px;
  height: fit-content;
  padding: 15px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.equals {
  border: 1px solid black;
  margin: 10px auto;
  padding: 5px;
  text-align: end;
  vertical-align: middle;
  font-size: 35px;
}


.btn{
  flex: 0 0 20%;
  border: 1px solid black;
  width: 50px;
  height: 35px;
  cursor: pointer;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover,
.btn:active {
  background-color: rgb(217, 225, 233);
}