.App {
  text-align: center;
}

.calculatodBody {
  width: fit-content;
  height: fit-content;
  padding: 15px;
  margin: 15px auto;
}

.equals {
  width: 290px;
  height: 55px;
  border: 1px solid black;
  margin: 10px auto;
  padding: 5px;
  text-align: end;
  vertical-align: middle;
  font-size: 35px;
}

table {
  margin: auto;  
}

td {
  border: 1px solid black;
  width: 45px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

td:hover,
td:active {
  background-color: rgb(217, 225, 233);
}